<div class="modal-wrapper">
  <img src="assets/icons/circlefill.png" class="align-right" />
  <div class="container">
    <p class="mt-5 header">Gostou de <strong>Samuel?</strong></p>
    <p class="description">
      Para <strong>adotar</strong> esse pet ou saber mais sobre ele, entre em
      contato com o tutor:
    </p>
    <p class="tutor">Matheus Rocha</p>
    <div class="contact">
      <img src="assets/icons/envelope.png" width="40px" height="40px" />
      email@email.com.br<br />
      <img src="assets/icons/whatsapp.png" width="40px" height="40px" />
      (00)00000-0000
    </div>
  </div>
</div>
