<ion-content>
  <div class="banner"></div>
  <div class="container">
    <div class="container__search mt-5">
      <h4 class="search__title">Encontre seu novo amigo</h4>

      <form [formGroup]="form" class="d-flex">
        <ion-item lines="none" class="input-group mb-3">
          <ion-input
            type="text"
            placeholder="Pesquise por um pet..."
            formControlName="Name"
          ></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="onSubmit()">
              <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="openFilterModal()">
              <ion-icon name="options" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </form>
    </div>

    <div class="mt-4">
      <ion-grid>
        <ion-row class="justify-content-center gap-2 m-auto mt-4 animals-list">
          <ion-col size="12">
            <!-- <app-animal-list [animals]="animals()"></app-animal-list> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
