.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-0.25rem);
  transition: transform 0.3s;
}

.card__header {
  width: 100%;
  min-height: 12.5rem;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card__body {
  padding: 1rem;
}

.body__title {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.body__title,
.content__gender,
.content__address {
  width: 100%;
  text-align: center;

  max-width: 10.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
