html,
body,
.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 90vh;
}

.image-section {
  flex: 1;
  background-image: url("https://p2.trrsf.com/image/fget/cf/1200/1600/middle/images.terra.com/2021/09/18/1146331369-caesegatos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-section {
  flex: 1;
  padding: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18.75rem;
  background-color: var(--bg-gray);
}

@media (max-width: 60rem) {
  .image-section {
    display: none;
  }
}

@media (max-width: 48rem) {
  .content-wrapper {
    flex-direction: column;
  }

  .form-section {
    padding: 0.9375rem;
    width: 100%;
  }
}
