.container {
  width: 100%;
  max-width: 29.813rem;
  margin: 8rem auto;
  padding: 1.25rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h3 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.25rem;
}

.form-group {
  margin-bottom: 0.9375rem;
  display: flex;
  flex-direction: column;
}

input {
  font-size: 0.9rem !important;
}

.form-control {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
}

.btn-submit {
  font-size: 1rem; /* Aumenta a legibilidade do botão */
}

@media (max-width: 48rem) {
  .container {
    margin: 5rem auto;
  }

  h3 {
    font-size: 1.1rem;
  }

  .form-group {
    margin-bottom: 0.75rem;
  }

  .btn-submit {
    padding: 0.75rem;
    font-size: 1rem;
  }
}

@media (max-width: 30rem) {
  .container {
    padding: 1rem;
    width: 90%;
    margin: 3rem auto;
  }

  h3 {
    font-size: 1rem;
  }

  input {
    font-size: 0.875rem;
  }
}
