<footer class="footer text-center py-2">
  <div
    class="footer__content container-fluid d-flex flex-wrap flex-column flex-md-row justify-content-around align-items-center py-3"
  >
    <div class="footer__logo mb-3 mb-md-0 text-center">
      <img src="assets/images/logo.png" alt="Logo" />
    </div>

    <div class="footer__about mb-3 mb-md-0 text-center text-md-start">
      <h6>Sobre nós</h6>
      <ul class="list-unstyled">
        <li><a routerLink="/">Sobre o Adopet</a></li>
        <li><a routerLink="/">Perguntas frequentes</a></li>
        <li><a routerLink="/">Termos de uso e Política de privacidade</a></li>
      </ul>
    </div>

    <div class="footer__adopt mb-3 mb-md-0 text-center text-md-start">
      <h6>Adote</h6>
      <p><a routerLink="/">Pesquisar animais</a></p>
    </div>

    <div class="footer__disclose mb-3 mb-md-0 text-center text-md-start">
      <h6>Divulgue um animal</h6>
      <p><a routerLink="/">Cadastrar animais</a></p>
    </div>

    <div class="footer__social mb-3 mb-md-0 text-center text-md-start">
      <h6>Redes sociais</h6>
      <ul
        class="list-unstyled d-flex justify-content-center justify-content-md-start gap-3"
      >
        <li>
          <a href="#"
            ><img
              src="assets/icons/youtube.png"
              alt="YouTube"
              width="25"
              height="25"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="assets/icons/facebook.png"
              alt="Facebook"
              width="25"
              height="25"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="assets/icons/instagram.png"
              alt="Instagram"
              width="25"
              height="25"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="assets/icons/x.png" alt="Twitter" width="25" height="25"
          /></a>
        </li>
      </ul>
    </div>
  </div>

  <h6 class="mt-3">Todos os direitos reservados</h6>
</footer>
